*{
    margin: 0px;
    padding: 0px;

}

.CardPerguntas{
    display: flex;
    height: 200px;
    background-color: white;
    width: 95%;
    margin: 5px auto;
    
}
.ImagemBola{
      
    display: flex;
    height: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 50px;
    
}
.Titulo{
    color: var(--cor-principal-cor-principal, #4CA676);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    letter-spacing: 0.15px;
    position: absolute;
     margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 170px;
    color: #4CA676;

}
.Texto{
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 40px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.5px;
    
  
    
    
}