.cardPerguntas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
}

.cardPerguntas img {
  width: 2%;
  margin: 0px 40px;
}


.cardPerguntasText {
  width: 80%;
  margin: 15px 0px;
}

.cardPerguntas h3 {
  color: var(--verde-principal);
  font-size: var(--subtitle-small);
  font-weight: 600;
}

.cardPerguntas p {
  margin-top: 15px;
  font-size: var(--body-small);
}
