.beneficios-para-voce {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
  }
  
  .beneficios-para-voce h3 {
    font-size: var(--subtitle-large);
    font-weight: var(--semi-bold);
    width: 100%;
    margin-bottom: 10px;
  }
  
  .beneficios-para-voce p {
    font-size: var(--body-large);
    width: 100%;
  }
  
  .beneficios-para-voce img {
    margin-top: -100px; 
    width: 100px;
  }