
.beneficios-para-voce{
    background-color: rgb(255, 255, 255);
    width: 27%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); 
    padding: 3%;
    text-align: left;   
    border-radius: 3% ;
}

.beneficios-para-voce > div {
    height: 15%;
}

.beneficios-para-voce h2{
    font-size: var(--subtitle-medium);
    font-weight: var(--semi-bold);
    width: 100%;
    margin-bottom: 6%;
    margin-top: 3%;
}
.beneficios-para-voce p{
    font-size: var(--body-medium);
    width: 80%;
}

    .beneficios-para-voce img{
        margin-top: -20%;
        display: flex;
        align-items: left;
        height: 200%;
    }