.carousel-pagina-gb-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 130px;
}

.carousel-pagina-gb-conteudo img {
  width: 30%;
  border-radius: 10px;
}

.caroulsel-pagina-gb-text {
  font-size: var(--body-medium);
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
}

.caroulsel-pagina-gb-text h2 {
  margin-bottom: 10%;
  color: var(--verde-principal);
  font-size: var(--subtitle-large);
}

.elipsedarrow {
  position: absolute;
  width: 3%;
}
