.box-login-cadastro {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.box-login-cadastro > div img {
    border-radius: 0px 15px 15px 0px;
    position: fixed !important;
    object-fit: cover;
    height: 100vh;
    width: 40%;
}

.box-inputs-login-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    height: 100vh;
    margin-right: 260px !important;
}
.box-inputs-login-cadastro div:nth-child(1) {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.box-inputs-login-cadastro h1 {
    font-size: var(--title-large);
    font-weight: var(--regular-bold);
    color: var(--verde-principal);
}

.box-inputs-login-cadastro a {
    color: var(--verde-principal);
}

.logomarca-germinne-geral {
    display: flex;
    flex-direction: column;
}


.logomarca-germinne-login-profissional {
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 10px !important;
    align-items: center;
}

.logomarca-margin {
    margin-top: 55%;
}

.logomarca-margin-cliente {
    margin-top: 30%;
}

.logomarca-germinne-login-profissional img {
    width: 55px;
}


.box-inputs-login-cadastro h3 {
    margin-top: -20px;
    color: var(--cta-laranja);
    font-size: var(--body-large);
    font-weight: var(--regular-bold);
}

.box-email-password label {
    display: flex;
    align-self: center;
    width: 30vw;
    font-size: var(--subtitle-medium);
    font-weight: var(--semi-bold);
    flex-direction: column;
    align-items: baseline;
    margin: 20px 0 40px 0;
    border: 0px;
    border-bottom: 1px solid green;
}

.box-email-password div:nth-child(2) {
    align-self: center !important;
}

.box-email-password input {
    font-size: var(--body-medium);
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: 0;
}

.box-button button{
    display: block;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: none;
}

.box-email-password button {
    padding: 13px 120px;
    border-radius: 15px;
    font-size: var(--body-large);
    font-weight: var(--semi-bold);
    background-color: var(--verde-principal);
}

.box-google {
    text-align: center;
    margin: 2% 0;
    font-size: var(--body-medium);
}

.box-google img {
    margin-top: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    width: 70px;
}

.box-cadastro {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px !important;
}

.box-cadastro p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: var(--body-medium);
}

.box-cadastro button {
    padding: 12px 70px;
    border: none;
    border-radius: 15px;
    font-size: var(--body-large);
    font-weight: var(--semi-bold);
    color: white;
    background-color: var(--cta-roxo);
}

.box-login-cadastro button:hover {
    cursor: pointer;
}

.box-cadastro hr {
    margin-top: 15px;
    border-color: rgba(0, 0, 0, 0.2);
}

.box-login-cadastro span {
    font-size: var(--body-small);
    color: red;
}

.mensagem-sucesso {
    color: green !important;
}

.mensagem-erro {
    color: red !important;
}

.box-tratamento-erro {
    font-size: var(--subtitle-small);
}

.box-tratamento-erro p {
    margin-bottom: 0;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .box-inputs-login-cadastro {
        margin-right: 150px !important;
    }
}

@media screen and (max-width: 1200px) {
    .box-inputs-login-cadastro {
        margin-right: 100px !important;
    }
}

@media screen and (max-width: 1000px) {
    .box-login-cadastro > div img {
        display: none;
    }
    
    .box-inputs-login-cadastro {
        align-items: center;
        margin-right: 0 !important;
    }

    .box-login-cadastro {
        justify-content: center;
    }

    .box-login-cadastro article {
        width: 100% !important;
    }

    .box-email-password label {
        width: 80vw;
    }

    .box-cadastro {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .box-email-password label {
        width: 90vw;
    }
    .box-inputs-login-cadastro h1 {
        font-size: var(--title-medium);
    }
    .logomarca-germinne-login-profissional img {
        width: 40px;
    }
    .box-email-password label {
        font-size: var(--subtitle-small);
    }
}