.box-descricao-produto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.descricao-imagens {
    display: flex;
    width: 700px;
    border-radius: 10px;
}

.box-imagem-descricao {
    display: flex; 
    width: 100%; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-imagem-descricao img {
    width: 550px;
    height: 420px;
    border-radius: 10px;
    object-fit: contain;
    margin-left: 10px;
}

.box-imagem-descricao p {
    width: 100%;
    text-align: center;
    padding: 15px 10px;
}


.box-selecao {
    margin-top: 45px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nome-preco h2 {
    font-size: var(--title-medium);
}

.nome-preco p {
    font-size: var(--title-small);
    margin: 0px;
}

.nome-preco span {
    font-size: var(--subtitle-large);
}

.box-botoes-selecao {
    display: flex;

}

.div-botoes {
    margin-top: 15px;
}

.div-botoes > p {
    font-size: var(--body-small);
    margin: 0px;
    white-space: nowrap;
}

.div-botoes > p span {
    color: black;
}


.box-quantidade {
    margin-top: 25px;
}

.box-quantidade button {
    background-color: white;
    border: .5px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 50px;
    border-radius: 40px;
    font-size: var(--body-small);
    font-weight: var(--semi-bold);
    white-space: nowrap;
}

.box-quantidade span {
    margin: 0 25px;
    font-size: var(--body-large);
    font-weight: var(--regular);
}

.box-quantidade span:hover {
    cursor: pointer;
}

.box-quantidade button:hover {
    cursor: auto;
}

.botao-adicionar-carrinho button {
    background-color: var(--cta-roxo);
    color: white;
    border: none;
    font-weight: var(--regular-bold);
    font-size: var(--subtitle-small);
    width: 400px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}

.botao-adicionar-carrinho button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.678), transparent);
    transition: all 0.5s;
}

.botao-adicionar-carrinho button:hover::before {
    left: 100%;
}

@media (max-width:1460px) {
    .descricao-imagens{
            flex-direction: column-reverse;
            align-items: center;
    }

    .box-imagens-secundarias {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .box-selecao {
        width: 700px;
        margin-top: 10px;
    }
}

@media (max-width:600px) {
    .box-imagem-descricao img {
        width: 360px;
        height: 360px;
    }

    .box-imagem-descricao  p {
        font-size: var(--body-small);
    }

    .descricao-imagens {
        width: 375px;
    }

    .box-imagens-secundarias {
        width: 100% !important;
        align-self: center !important;
   /*  height: 420px; */
    }

    .box-imagens-secundarias img {
        width: 90px
    }

    .box-selecao {
        width: 375px;
    }

    .nome-preco {
        padding: 0 30px !important;
    }

    .div-botoes {
        padding-left: 30px;
    }

    .nome-preco h2 {
        font-size: var(--title-small);
        text-align: start;
    }

    .botao-adicionar-carrinho button {
        width: 330px;
        height: 50px;
        text-align: center;
        font-size: var(--body-large);
    }

}