.header-mobile {
    display: flex;
    padding: 5px 30px;
}

.header-mobile p {
    font-size: 60px;
}

.header-mobile img {
    width: 40px;
}

.header-box h1 {
    font-size: 40px;
}

.esconder-menu-mobile {
    display: none;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.animate__animated.animate__slideInRight {
    --animate-duration: .7s;
}

.menu-mobile div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-mobile .icone-fechar {
    width: 30px;
}

.menu-mobile nav ul {
    display: flex;
    flex-direction: column;
}

.menu-mobile nav ul li {
    margin: 30px 0;
    font-size: 25px;
}

@media screen and (max-width: 700px){
    .header-mobile img {
        width: 30px;
    }

    .header-box h1 {
        font-size: 25px;
    }

    .header-mobile p {
        font-size: 40px;
    }
}

@media screen and (min-width: 1251px) {
    .header-mobile {
        display: none;
    }
}