.imagem-pequena-gb {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.imagem-pequena-gb img {
    object-fit: contain;
    width: 120px;
    height: 120px;
}

.imagem-pequena-gb:hover {
    cursor: pointer;
}

@media (max-width:1460px) {
    .imagem-pequena-gb {
        width: 150px;
    }
}

@media (max-width:600px) {
    .imagem-pequena-gb img  {
        width: 120px;
        height: 120px;
    }
}