/* Beneficios */

.banner-faca-parte {
  background: url(../../images/banner-contrate-home.png), no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.banner-faca-parte h2{
  font-size: var(--title-large);
}

.banner-faca-parte h2 span {
 color: var(--font-banner-verde);
}

.banner-faca-parte p {
  font-size: var(--subtitle-large);
  font-weight: var(--semi-bold);
  width: 70%;
  text-align: center;
}

.banner-faca-parte button {
  background-color: var(--cta-laranja);
  color: white;
  font-size: var(--subtitle-small);
  font-weight: var(--semi-bold);
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}



.passo-a-passo {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;

}

.barra-amarela {
  background-color: orange;
  width: 100%;
  height: 6px;
  align-self: center;
}


.main-container-limitador > h2 {
  display: flex;        
  justify-content: center;        
  margin: 100px 0px;
  font-size: var(--title-medium);
  text-align: center;
;
}

.beneficios-profissional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

/* Beneficios */


/* banner-teste-gratis */


.banner-teste-gratis {
  background: url(../../images/banner-teste-gratis.png), no-repeat;
  background-size: cover;
  width: 90%;
  height: 450px;
  border-radius: 10px;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.banner-teste-gratis p {
  font-size: var(--title-small);
  font-weight: var(--regular-bold);
  color: white;
  font-family: var(--title-family);
}

.banner-teste-gratis h2 {
  font-size: var(--display-large);
  color: var(--cta-laranja);
  font-family: var(--title-family);
}

/* banner-teste-gratis */


/* custo-beneficio */

.custoBeneficio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
}

.custoBeneficio img {
  width: 600px;
  border-radius: 10px;
}

.custoBeneficio div {
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
}

.custoBeneficio h2 {
  font-size: var(--title-medium);
}

.custoBeneficio p {
  font-size: var(--body-medium);
}

.custoBeneficio button {
  background-color: var(--cta-roxo);
  color: white;
  font-size: var(--subtitle-small);
  font-weight: var(--semi-bold);
  border: none;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

/* custo-beneficio */

.color-passo-a-passo {
  color: var(--font-body-verde) !important;
}

.box-titulo-planos {
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.box-planos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.box-titulo-planos > h2 {
  font-size: var(--title-large);
  text-align: center;
  padding-bottom: 5%;
}

.box-titulo-planos > h2 > span {
  color: var(--font-body-verde);
}


/* CAROUSELS */

.carousel-beneficios {
  display: none;
}

.carousel-passo-a-passo {
  display: none;
}

.carousel-planos {
  display: none;
}


@media (max-width: 500px) {
  .main-container-limitador > h2{
    font-size: var(--title-small);
  }
}

@media (max-width: 610px) {

  .custoBeneficio img {
    width: 300px;
  }

  .custoBeneficio > div {
    width: 300px;
  }

  .custoBeneficio button {
    width: 250px;
    height: 45px;
    font-size: var(--body-small);
  }

  .custoBeneficio h2 {
    font-size: var(--subtitle-medium);
  }

  .custoBeneficio p {
    font-size: var(--body-small);
  }

  .banner-teste-gratis {
    padding: 15px;
  }

  .banner-teste-gratis h1 {
    font-size: var(--title-large);
  }

  .banner-teste-gratis p {
    font-size: var(--subtitle-large);
  }
  
  .box-titulo-planos > h2 {
    font-size: var(--title-small);
    margin-top: 50px;
    margin-bottom: 30px;
  }

}


@media (max-width: 1200px) {
  .box-planos {
    display: none;
  }

  .carousel-planos {
    display: flex;
  }

  .passo-a-passo {
    display: none;
  }

  .carousel-passo-a-passo{
    display: flex;
  }

  .beneficios-profissional {
    display: none;
  }

  .carousel-beneficios {
    display: flex;
  }
}



