.card-germinne {
    width: 380px;
}

.card-home-germinne {
    width: 100%;
    height: 230px; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover !important;
    background-position: center;
    border-radius: 10px;
}

.card-home-germinne h2 {
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    color: white;
    font-size: var(--body-medium);
    font-weight: var(--semi-bold);
}

.card-home-germinne span, .second-germinne-large span, .third-germinne-card span  {
    color: var(--font-banner-verde);
}

.first-germinne-card {
    background: url(../../images/card-home-4.png) no-repeat;
}

.second-germinne-card {
    background: url(../../images/card-home-5.png) no-repeat;
    box-shadow: 0px -100px 80px 0px rgba(0, 0, 0, 0.50) inset;
}

.second-germinne-large h3 {
    font-size: var(--subtitle-medium);
    text-align: center;
    text-transform: uppercase;
}

.third-germinne-card {
    background: url(../../images/card-home-6.png) no-repeat;
}

@media (max-width:1200px) {
    .card-home-germinne {
        width: 100%;
    }
}