.pagina-blog {
    width: 95%;
    margin: auto;
}

.banner-blog {
    text-align: center;
}

.banner-blog h2 {
    font-size: 35px;
}

.banner-blog p {
    font-size: 20px;
}

.carousel-blog {
    width: 100% !important;
}

.carousel-blog .swiper-slide {
    display: block;
}

a {
    text-decoration: none;
  }
  
  
  
  .slide-carousel {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -200px 150px 0px rgba(0, 0, 0, 0.8) inset;
    padding: 3%;
    width: 100% !important;
    height: 600px !important;
    border-radius: 20px;
  }
  
  .slide-content span {
    color: white;
    font-size: var(--body-small);
    font-weight: var(--semi-bold);
  }
  
  .slide-content h2 {
    margin-top: 10px;
    text-align: left;
    color: white;
    font-size: var(--title-small);
    font-weight: var(--semi-bold);
  }
  
  .box-slide-imagem-1 {
    background: url(../../images/artigo-card-1.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
  .box-slide-imagem-2 {
    background: url(../../images/artigo-card-2.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
  .box-slide-imagem-3 {
    background: url(../../images/artigo-card-3.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
  .slide-carousel .aws-sld {
    --open-animation-perspective: 600px;
    --open-animation-angle: 8deg;
    --open-animation-enter-delay: 85ms;
  }
  

.banner-blog div:nth-child(2) {
    margin: 20px 0;
}

.filtros {
    background-color: var(--verde-principal);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px;
    color: white;
    font-size: var(--body-medium);
    font-weight: 500;
    border-radius: 10px;
    margin: auto;
    gap: 10px;
}

.filtros p {
    cursor: pointer;
    margin: 0px;
}

.busca {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.busca > div {
    display: flex;
    width: 80%;
    margin: auto;
}

.busca input {
    padding: 10px;
    text-align: center;
    font-size: var(--body-large);
    width: 100%;
    border: .5px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px 10px 10px 0px;
}

#busca::placeholder {
    padding-left: 10px;
    text-align: start;
}

.icone-lupa img {
    width: 20px;
}

.icone-lupa {
    background-color: var(--verde-principal);
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
}

.box-artigos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    gap: 20px;
}

.publicidade {
    display: flex;
    justify-content: space-between;
}

.pagina-blog > hr {
    margin-bottom: 2%;
    border-color: rgba(0, 0, 0, 0.3);
}

@media (max-width:600px) {
    .filtros p{
        font-size: var(--body-small);
    }
    
    .busca input {
        font-size: var(--body-medium);
    }

    .slide-content h2 {
        font-size: var(--subtitle-large) !important;
    }

    .slide-carousel {
        height: 400px !important;
    }
}