.banner-blog {
    background: url(../../images/banner-blog.svg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-blog p {
    text-align: center;
    font-size: 50px;
    width: 50%;
    margin-bottom: 7%;
    color: white;
}

.banner-blog span {
    color: var(--verde-header);
}

.filtros {
    background-color: var(--verde-header);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    margin: auto;
}

.filtros p {
    font-size: 20px;
}

.busca {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.busca input {
    padding: 5px;
    width: 50%;
    border: .5px solid rgba(0, 0, 0, 0.3);
}

.icone-lupa img {
    width: 20px;
}

.icone-lupa {
    background-color: var(--verde-header);
    display: flex;
    align-items: center;
    padding: 10px;
}

.box-artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.post-destaque {
    text-align: center;
    margin: 30px 0;
}

.post-destaque h3 {
    font-size: 32px;
    text-transform: uppercase;
}

.post-destaque img {
    border-radius: 20px;
    margin: 10px 0;
}

.post-destaque p {
    font-size: 28px;
}

.post-destaque a {
    color: black;
    text-decoration: none;
}

.post-destaque span {
    color: var(--verde-header);
}