.banner-blog {
    text-align: center;
}

.banner-blog h2 {
    font-size: 35px;
}

.banner-blog p {
    font-size: 20px;
}

.banner-blog div:nth-child(2) {
    margin: 20px 0;
}

.filtros {
    background-color: var(--verde-header);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin: auto;
}

.busca {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.busca p {
    font-size: 25px;
    font-weight: 600;
}

.busca div {
    display: flex;
}

.busca input {
    padding: 5px;
    width: 300px;
    border: .5px solid rgba(0, 0, 0, 0.3);
}

.icone-lupa img {
    width: 20px;
}

.icone-lupa {
    background-color: var(--verde-header);
    padding: 10px;
}

.box-artigos {
    display: flex;
    width: 90%;
    margin: auto;
}