.box-introducao-vitrine {
  background: url(https://germinnecomp-img.s3.sa-east-1.amazonaws.com/banner-vitrine.svg)
    no-repeat;
  color: white;
  text-align: center;
  padding: 2% 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-inputs-vitrine > div {
  margin: 1% 0;
  display: flex;
  justify-content: center;
}

.box-inputs-vitrine select,
.box-inputs-vitrine input {
  margin: 5% 0;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #eae9e9;
  width: 90%;
  padding: 3% 70px;
  font-size: var(--body-small);
}

.box-inputs-vitrine option {
  background-color: var(--verde-principal);
  color: white;
}

.box-inputs-vitrine select {
  border: unset;
  appearance: none;
  background-image: url(https://germinnecomp-img.s3.sa-east-1.amazonaws.com/arrow-select.svg);
  background-repeat: no-repeat;
  background-position: right 1.5rem top 50%;
  background-size: 20px auto;
}

.box-inputs-vitrine button {
  background-color: var(--cta-laranja);
  color: white;
  font-size: var(--body-small);
  border: none;
  padding: 1% 0;
  border-radius: 10px;
  width: 25%;
}

.box-inputs-vitrine button:hover {
  cursor: pointer;
}

.box-horticultores {
  margin: 3% 0;
}
