.card-avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
};


.card-avaliacao img {
    width: 100%;
}

.card-avaliacao img:nth-child(1) {
    width: 30%;
    border-radius: 50%;
}

.card-avaliacao img:nth-child(2) {
    width: 45%;
}

.nome-avaliacao {
    font-size: var(--body-medium);
    font-weight: var(--semi-bold);
}

.avaliacao {
    font-weight: var(--regular-bold);
    text-align: center;
    font-size: var(--body-medium);
}

@media (max-width:600px) {
    .card-avaliacao {
        width: 300px !important;
    }
}