.textoVerde {
  color: var(--verde-principal);
}

/* ----------------------------------------------------------------------------------------- */


.conheca-gb {
  margin: 50px auto 80px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.conheca-gb img {
  width: 30%;
  border-radius: 10px;
  
}

.conheca-gb-texto {
  font-size: var(--body-medium);
  text-align: center;
  width: 40%;
}

.conheca-gb-texto h2 {
  margin-bottom: 70px;
  font-size: var(--title-medium);
}

/* ----------------------------------------------------------------------------------------- */

.conteudo-gb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-gb-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.conteudo-gb h3 {
  font-size: var(--title-small);
}

/* ----------------------------------------------------------------------------------------- */

.carousel-pagina-gb-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.carousel-pagina-gb-title h2 {
  font-size: var(--title-medium);
}

.carousel-pagina-gb-title img {
  margin-top: 25px;
  width: 3%;
}

.carousel-content {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-content img:hover {
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------- */

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
}

.box-card-perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fffdfd;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 80%;
  padding: 20px;
  margin: 50px 0px;
  border-radius: 10px;
}

.faq-title{
    margin-top: 20px;
    font-size: var(--title-small);
}

.box-card-perguntas hr {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 5px auto;
}

/* ------------------------------------------ */

.review-loja-germinne-box h3 {
  font-size: var(--title-medium);
  text-align: center;
  margin-bottom: 50px;
}

.review-loja-germinne-box span {
  color: var(--verde-principal);
}

.review-loja-germinne-box > div {
  display: flex;
  justify-content: space-evenly;
}