.banner-home {
    background: url(../../images/banner-home.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.banner-home h2 {
    font-size: var(--title-medium);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-home span {
    color: var(--font-banner-verde);
}

.banner-home p {
    width: 25%;
    font-size: var(--subtitle-small);
}

.box-card-servicos {
    background-color: var(--body-article-color);
    padding: 4% 0;
    display: flex;
    justify-content: center;
}