.banner-home {
    background: url(../../images/homebanner.png) no-repeat;
    background-size: cover ;
    background-position: center;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 150px 0px 0px 50px;
    box-shadow: 700px 0px 150px 0px rgba(0, 0, 0, 0.70) inset;
}

.banner-home h2 {
    font-size: var(--display-large);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-home span {
    color: var(--font-banner-verde);
}

.banner-home p {
    width: 40%;
    font-size: var(--subtitle-medium);
}

.box-card-home {
    width: 90%;
    margin: auto;
}

.box-card-servicos {
    background-color: var(--body-article-color);
    padding-top:  50px;
    display: flex;
    justify-content: space-between;
}

.box-card-germinne {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.box-beneficios-agricultura {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-beneficios-agricultura article:nth-child(2) {
    padding-top: 50px !important;
}

.box-beneficios-agricultura article {
    padding-top: 150px;
}

.box-beneficios-agricultura h2 {
    font-size: var(--title-large);
    text-align: center;
}

.box-beneficios-agricultura span {
    color: var(--verde-principal);
}

.box-beneficios-agricultura article:nth-child(3) {
    flex-direction: row-reverse;
}

.box-avaliacoes {
    background-color: var(--verde-avaliacoes);
    padding: 5% 0;
}

.box-avaliacoes div {
    display: flex;
    justify-content: center;
}

.box-avaliacoes h3 {
    text-align: center;
    font-size: var(--title-medium);
    margin-bottom: 5%;
}

.box-avaliacoes span {
    color: var(--verde-principal);
}