.banner-home {
    background: url(../../images/homebanner.png) no-repeat;
    background-size: cover ;
    background-position: center;
    height: 650px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 150px 0px 0px 50px;
    box-shadow: 700px 0px 150px 0px rgba(0, 0, 0, 0.70) inset;
}

.banner-home span a {
    color: var(--verde-principal) !important;
}

.germinnebox-home {
    background: url(../../images/banner-germinnebox-home.svg) no-repeat !important;
    background-size: cover !important;
}

.germinnebox-home span{
    color: var(--cta-roxo) !important;
}

.germinnebox-home span a {
    color: var(--cta-roxo) !important;
}

.contrate-home {
    background: url(../../images/banner-contrate-home.svg) no-repeat !important;
    background-size: cover !important;
}

.contrate-home span{
    color: var(--cta-laranja) !important;
}

.contrate-home span a {
    color: var(--cta-laranja) !important;
}

.swiper-slide {
    padding: 0 !important;
}

.banner-home h2 {
    font-size: var(--display-large);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-home span {
    color: var(--font-banner-verde);
}

.banner-home p {
    width: 40%;
    font-size: var(--subtitle-medium);
}

.box-card-home {
    width: 90%;
    margin: auto;
}

.box-card-servicos {
    flex-wrap: wrap;
    background-color: var(--body-article-color);
    padding-top:  50px;
    display: flex;
    justify-content: space-evenly;
}

.box-card-germinne {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-cards {
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.box-cards span {
    color: var(--verde-principal);
}

.box-cards > h2 {
    font-size: var(--title-small);
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 30px;
}

.banner-mvv {
    background: url(../../images/banner-mvv.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1220px;
    color: var(--verde-principal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: var(--regular-bold);
}

.banner-mvv ul {
    list-style: none;
}

.mvv-itens {
   width: 400px;
}

.mvv-itens h2 {
    margin-bottom: 20px;
}


.box-mvv2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.box-beneficios-agricultura {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-beneficios-agricultura article:nth-child(2) {
    padding-top: 50px !important;
}

.box-beneficios-agricultura article {
    padding-top: 150px;
}

.box-beneficios-agricultura h2 {
    font-size: var(--title-medium);
    text-align: center;
}

.box-beneficios-agricultura span {
    color: var(--verde-principal);
}

.box-beneficios-agricultura article:nth-child(3) {
    flex-direction: row-reverse;
}


.box-avaliacoes {
   margin: 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-avaliacoes div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.box-avaliacoes h3 {
    text-align: center;
    font-size: var(--title-small);
    margin-bottom: 50px;
}

.box-avaliacoes span {
    color: var(--verde-principal);
}



@media  (max-width:1200px) {
    .banner-home {
        height: 400px;
        width: 100%;
        padding: 0 30px !important;
    }
    .banner-home h2 {
        font-size: var(--title-medium);
    }
    .banner-home p {
        font-size: var(--body-large);
        width: 100%;
    }
    
    .germinnebox-home {
        background-image: url(../../images/banner-germinnebox-home-mobile.svg) !important;
    }

    .contrate-home {
        background-image: url(../../images/banner-contrate-home-mobile.svg) !important;
    }
}