.header-desktop {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-desktop > div {
    width: 100%;
    padding: 5px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-desktop a {
    text-decoration: none;
}

.box-logo-nome {
    display: flex;
    align-items: center;
}

.box-logo-nome h1 {
    font-weight: var(--regular-bold);
    color: var(--verde-principal);
    font-size: 35px;
}

.box-logo-nome a {
    color: var(--verde-germinne);
}

.box-login {
    display: flex;
    align-items: center;
}

.box-login button {
    margin-right: 15px;
    padding: 10px 60px;
    font-size: 22px;
    font-weight: var(--semi-bold);
    border-radius: 10px;
    border: none;
    background-color: var(--verde-principal);
}

.box-login img {
    width: 50px;
}

.box-login button a {
    color: white;
}

.header-desktop nav {
    background-color: var(--verde-principal);
    width: 100%;
    padding: 10px 0;
}

.header-desktop nav ul {
    display: flex;
    justify-content: center;
}

.header-desktop nav ul li {
    font-size: var(--subtitle-small);
    font-weight: var(--regular-bold);
    margin: 0 45px;
    list-style: none;
}

.header-desktop nav a {
    color: white;
}

.component-mobile {
    display: none;
}

@media screen and (max-width: 1250px) {
    .header-desktop {
        display: none;
    }
}