header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 3px solid var(--verde-header);
    align-items: center;
}

nav {
    font-weight: 500;
    width: 50%;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-box a {
    text-decoration: none;
    color: var(--verde-germinne);
}

.header-box h1 {
    font-weight: 500;
    font-size: 45px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1E1E1E;
}

.header-box button {
    margin-right: 15px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--verde-escuro);
}

.header-box img {
    width: 50px;
}

.header-box button a {
    color: white;
}

.component-mobile {
    display: none;
}

@media screen and (max-width: 1250px) {
    .header-desktop {
        display: none;
    }
}