.header-desktop {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-desktop > div {
    width: 100%;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-desktop a {
    text-decoration: none;
}

.box-logo-nome {
    display: flex;
    align-items: center;
}

.box-logo-nome h1 {
    font-weight: var(--regular-bold);
    color: var(--verde-principal);
    font-size: 35px;
}

.box-logo-nome a {
    color: var(--verde-germinne);
}

.box-logo-nome img {
    margin-right: 10px;
}

.box-login {
    display: flex;
    align-items: center;
}

.box-login button {
    color: white;
    padding: 10px 60px;
    font-size: 22px;
    font-weight: var(--semi-bold);
    border-radius: 10px;
    border: none;
    background-color: var(--verde-principal);
    transition: .3s;
}

.box-login button:hover {
    border: 1.5px solid var(--verde-principal);
    color: var(--verde-principal);
    background-color: white;
    cursor: pointer;
    transition: .5s;
}

.box-login img {
    margin-left: 15px;
    width: 50px;
}

.box-login button a {
    color: white;
}

.header-desktop nav {
    width: 100%;
    padding: 10px 0;
}

.header-desktop nav ul {
    display: flex;
    justify-content: center;
}

.header-desktop nav ul li {
    font-size: var(--subtitle-small);
    font-weight: var(--regular-bold);
    margin: 0 45px;
    list-style: none;
}

.header-desktop nav a {
    color: var(--title-color);
}

.component-mobile {
    display: none;
}

.close-login {
    display: none;
}

.open-login {
    display: block;
}

.button-opened {
    border-radius: 10px 10px 0 0 !important;
    border: 1.5px solid var(--verde-principal) !important;
    color: var(--verde-principal) !important;
    background-color: white !important;
}

.links-login ul {
    width: 186px;
    list-style: none;
    text-align: center;
    list-style-position: inside;
    position: absolute;
}

.links-login ul li {
    padding: 15px 10px;
    background-color: var(--verde-escuro);
    display: block !important;
    transition: .3s;
}

.links-login a {
    color: white;
}

.links-login ul li:hover {
    cursor: pointer;
    background-color: var(--cta-laranja);
    transition: .5s;
}

.links-login ul li:nth-child(2) {
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 1250px) {
    .header-desktop {
        display: none;
    }
}