.pagina-perfil-horticultor hr {
 border-color: rgba(0, 0, 0, 0.10); 
}

.box-perfil-horticultor {
    background-color: var(--background-cards);
    border: 1px solid var(--verde-principal);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box-sobre-contatos {
    display: flex;
    justify-content: space-evenly;
}

.box-nome-avaliacao-perfil {
    padding: 10px;
    border: 1px solid var(--verde-principal);
    border-radius: 20px;
}

.box-nome-avaliacao-perfil > div {
    margin: 10px 0;
}

.box-nome-avaliacao-perfil div:nth-child(3) {
    gap: 10px;
}

.box-nome-avaliacao-perfil div:nth-child(1) img {
    margin-bottom: 10px;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 100%;
}

.box-nome-avaliacao-perfil div:nth-child(1) p {
    font-size: var(--subtitle-large);
    font-weight: var(--semi-bold);
}

.box-nome-avaliacao-perfil div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-nome-avaliacao-perfil div:nth-child(2) div {
    display: flex;
    flex-direction: row;
}

.box-nome-avaliacao-perfil div:nth-child(2) div p {
    color: var(--cta-laranja);
    font-weight: var(--semi-bold);
}

.box-nome-avaliacao-perfil div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-nome-avaliacao-perfil div:nth-child(2) > p {
    font-size: var(--body-small);
}

.box-nome-avaliacao-perfil div:nth-child(3) {
    font-size: 13px;
    /* font-size: var(--body-small); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

.box-nome-avaliacao-perfil div:nth-child(3) svg, .box-nome-avaliacao-perfil div:nth-child(3) p:nth-child(1) {
    display: flex;
    align-items: center;
    font-weight: var(--semi-bold);
    color: #069AF1;
}

.box-sobre-mim-perfil {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-sobre-mim-perfil h2 {
    margin-bottom: 5%;
    font-size: var(--subtitle-large);
}

.box-sobre-mim-perfil p {
    font-size: var(--body-medium);
}

.box-contatos-perfil {
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-contatos-perfil button {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: none;
    background-color: var(--cta-roxo);
    color: white;
    padding: 5% 3%;
    font-size: var(--body-medium);
    border-radius: 10px;
}

.box-contatos-perfil button svg {
    margin-right: 5px;
}


/*  */

.box-servicos-oferecidos {
    margin: 50px 0;
    text-align: center;
}

.box-servicos-oferecidos h3 {
    font-size: var(--subtitle-large);
    white-space: nowrap;
}

.box-servicos-oferecidos span {
    color: var(--verde-principal);
}

.box-servicos-oferecidos div {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ultimos-servicos-mobile {
    display: none !important;
    text-decoration: none;
}

.ultimos-servicos-desktop a {
    color: black;
}

/*  */

.box-ultimos-servicos {
    text-align: center;
    margin-top: 70px;
}

.box-ultimos-servicos > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-ultimos-servicos h2 {
    font-size: var(--title-large);
    margin: 50px 0;
}

.box-ultimos-servicos span {
    color: var(--verde-principal);
}

@media (max-width: 1360px) {
    .box-perfil-horticultor {
        width: 600px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }
    .centralizador-box-perfil-horticultor {
        display: flex;
        justify-content: center;
    }
    
    .box-nome-avaliacao-perfil {
        width: 100%;
    }

    .box-contatos-perfil {
        padding: 0;
        padding-bottom: 3%;
    }
}

@media (max-width:1240px) {
    .ultimos-servicos-desktop {
        display: none !important;
    }

    .ultimos-servicos-mobile {
        display: flex !important;
    } 
}

@media (max-width:600px) {
    .box-perfil-horticultor {
        width: 350px;
    }
    
    .box-nome-avaliacao-perfil div:nth-child(1) img {
        width: 163px;
    }
    
    .box-nome-avaliacao-perfil div:nth-child(3) {
        display: flex;
        flex-direction: column;
    }
    .box-nome-avaliacao-perfil div:nth-child(1) p {
        font-size: var(--subtitle-small);
    }

    .box-sobre-mim-perfil {
        width: auto !important;
        padding: 0 20px;
    }

    .box-sobre-mim-perfil h2 {
        font-size: var(--subtitle-small);        
    }

    .box-sobre-mim-perfil p {
        font-size: var(--body-small);
    }

    .box-contatos-perfil button {
        width: 180px;
        font-size: var(--body-small);
    }

    .box-ultimos-servicos h2 {
        font-size: var(--title-small);
        white-space: nowrap;
    }
}