.dados-pessoais-cliente label {
    display: flex;
    flex-direction: column;
    font-weight: var(--semi-bold);
    font-size: var(--body-medium);
    margin: 40px 0;
}

.dados-pessoais-cliente input {
    border: none;
    border-bottom: 3px solid var(--verde-principal);
    padding: 10px 0;
    width: 300px;
    font-size: var(--body-small);
    background-color: white;
}

.dados-pessoais-cliente input:disabled {
    color: rgba(128, 128, 128, 0.6);
    font-weight: var(--bold);
    border-bottom: 3px solid rgba(128, 128, 128, 0.6);
}

.dados-pessoais-cliente h2 {
    text-align: center;
}

.inputs-dados-pessoais-cliente > div {
    display: flex;
    justify-content: space-evenly;
}

.dados-pessoais-cliente .box-button-perfil-cliente {
    display: flex;
    justify-content: center;
}

.box-button-perfil-cliente button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--verde-principal);
    color: white;
    font-size: var(--body-large);
    margin-top: 10px;
}

.button-salvar-informacoes button {
    background-color: var(--cta-laranja);
}

.box-button-perfil-cliente button:hover {
    cursor: pointer;
}

.mensagem-editar-perfil-cliente p {
    text-align: center;
    font-size: var(--body-medium);
    color: var(--verde-principal);
}