footer {
    font-family: 'Montserrat', sans-serif;
    height: 378px;
    background-color: var(--verde-principal);
    display: flex;
    align-items: center;
    color: white;
}

.footer-box {
    display: flex;

}

footer p {
    margin: 15px 0;
    margin-right: 20px;
    font-size: 20px;
}
.LogoGerminne{
    
    height:140px
    
}

.footer-logo {
    padding: 70px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left:  35px;
    margin-top: 30px;



}

.footer-logo h2 {
    font-weight: 400;
    font-size: 35px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.5px;
}
hr{
    display: flex;
    width: 20px;

}
.redes{
    height: 200px;
    border-left : 1px solid #0C9354;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 90px 20px;
    margin-top: 90px;
    padding-left: 15px;
}

.footer-icons {
    color: white;
    width: 60px;
    height: 40px;
    margin-right: 5px;
}
.Contatos{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;

}
.Site{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 220px;

}
.ancoras{
    display: flex;
    text-decoration: none;
    color: white;
}