footer {
  height: 400px;
  width: 100%;
  background-color: var(--verde-escuro);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer svg {
  color: var(--verde-principal);
}

.footer-logo div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.footer-logo div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-logo img {
  width: 120px;
  height: 150px;
  margin-bottom: 5px;
}

.footer-logo svg {
  height: 33px;
  width: 33px;
}

.footer-infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-infos > div {
  height: 50%;
}

.footer-infos h3 {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--verde-principal);
  font-size: var(--body-large);
}

.footer-infos a {
  color: white;
  text-decoration: none;
}

.footer-infos ul li {
  list-style-position: inside;
  color: var(--verde-principal);
  margin: 15px 0;
}

.footer-infos li::marker {
  font-size: 22px;
}

.footer-contatos svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer-infos a, .footer-infos p {
  font-size: var(--body-medium);
  margin: 20px 0;
}

.footer-contatos div p {
  display: flex;
  align-items: center;
}
