.chat-mensagem {
    display: flex;
    align-items: center;
    width: 50%;
}

.box-foto {
    display: flex;
    justify-content: center;
    width: 30%;
}

.chat-mensagem img {
    width: 100%;
    border-radius: 100%;
}

.box-mensagem {
    /* margin: 10px 0; */
    margin-left: 30px;
    width: 100%;
    /* max-width: 100%; */
    border-radius: 0px 20px 20px 20px;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #E5FFF1;
    width: max-content;
    height: max-content;
}