.box-como-funciona {
    display: flex;
    margin: 5% auto;
    width: 90%;
}

.box-texto-como-funciona {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    width: 70%;
}

.box-texto-como-funciona h2 {
    font-size: var(--title-large);
    color: var(--title-color);
    font-weight: var(--bold);
}

.box-texto-como-funciona .card-como-funciona {
    padding-top: 30px;
}

.banner-horticultor {
    background: url(../../images/banner-horticultor.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
    padding: 2% 4%;
}

.banner-horticultor > div {
    padding: 2%;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-horticultor h2 {
    text-align: left;
    font-size: var(--subtitle-large);
}

.banner-horticultor span {
    color: var(--verde-principal);
}

.box-inputs-horticultor {
    margin-top: 5%;
}

.banner-horticultor select, .banner-horticultor input {
    margin: 5% 0;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    background-color: #EAE9E9;
    width: 90%;
    padding: 5% 50px;
    font-size: var(--subtitle-medium);
}

.banner-horticultor option {
    background-color: var(--verde-principal);
    color: white;
}

.banner-horticultor select {
    border: unset;
    appearance: none;
    background-image: url(../../images/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: right 2rem top 50%;
    background-size: 40px auto;
}

.banner-horticultor button {
    margin-top: 5%;
    background-color: var(--verde-escuro);
    color: white;
    font-size: var(--subtitle-medium);
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    width: 70%;
    margin: 5% auto;
}

.banner-horticultor button:hover {
    cursor: pointer;
}
