.card-horticultor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 30px 0;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
}

.foto-rating-horticultor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-right: 20px;
}

.foto-rating-horticultor div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.foto-rating-horticultor div:nth-child(1) img {
    width: 100%;
    border-radius: 100%;
}

.foto-rating-horticultor div:nth-child(2) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.foto-rating-horticultor div:nth-child(2) img {
    width: 40%;
    
}

.foto-rating-horticultor p {
    margin-right: 15px;
    font-size: var(--body-medium);
    color: #FDD634;
    font-weight: var(--bold);
}

.descricao-horticultor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.descricao-horticultor p:nth-child(1) {
    text-align: center;
    font-size: var(--subtitle-large);
    font-weight: var(--semi-bold);
}

.descricao-horticultor p:nth-child(2) {
    width: 92%;
    font-size: var(--body-medium);
}

.botoes-contato-horticultor div:nth-child(1) button {
    margin-top: 15px;
    width: 300px;
    border: none;
    background-color: var(--cta-laranja);
    color: white;
    padding: .9% 3%;
    font-size: var(--semi-bold);
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}

.botoes-contato-horticultor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 20px;
}

.botoes-contato-horticultor div {
    width: 100%;
}

.botoes-contato-horticultor div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.botoes-contato-horticultor div:nth-child(2) {
    display: flex;
    justify-content: space-around;
}

.botoes-contato-horticultor button {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--regular);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--body-small);
    width: 30%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: var(--verde-principal);
    color: rgb(255, 255, 255);
    height: 54px;
}

.botoes-contato-horticultor button svg {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    
}