.card-passo-a-passo {
    width: 300px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0 10px 10px;
    margin-bottom: 10px;
   
}

.card-passo-a-passo div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-passo-a-passo h3 {
    font-size: var(--subtitle-medium);
    font-weight: var(--bold);
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: var(--verde-principal);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-passo-a-passo img {
    border-radius: 10px;
    width: 80px;
    border-bottom: 25px;
}

.card-passo-a-passo p {
    font-size: var(--body-medium);
    width: 80%;
    text-align: center;
}



@media (max-width:600px) {
    .card-passo-a-passo h3 {
        font-size: var(--subtitle-small);
    }
    
    .card-passo-a-passo img {
        width: 280px;
    }
}