.card-passo-a-passo {
    height: 55vh;
    width: 28%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-passo-a-passo div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: var(--subtitle-medium);
    font-weight: var(--semi-bold);
    white-space: nowrap;
}

.card-passo-a-passo div:nth-child(1) span {
    color: var(--font-body-verde);
}

.card-passo-a-passo div:nth-child(2) {
    display: flex;
    align-items: end;
    height: 80%;
    width: 100%;
}

.card-passo-a-passo img {
    border-radius: 5%;
    width: 100%;
}