  .carousel-blog {
    width: 95%;
    margin: 30px auto;
    height: 50vh;
    border-radius: 20px;
  }

.aws-sld {
  --open-animation-perspective: 600px;
  --open-animation-angle: 8deg;
  --open-animation-enter-delay: 85ms;
}