.article-beneficios {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    gap: 150px;
    width: 80vw;
}

.article-beneficios div:nth-child(1) {
    width: 40%;
    height: auto;
}

.article-beneficios img {
    width: 100%;
    border-radius: 10px;
}

.article-beneficios h4 {
    font-size: var(--subtitle-large);
    font-weight: var(--semi-bold);
    margin-bottom: 30px;
}

.article-beneficios p {
    font-size: var(--body-medium);
}

.article-beneficios div:nth-child(2) {
    width: 40%;
}

