.article-beneficios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.article-beneficios img {
    width: 500px;
    height: 300px; 
    object-fit: cover;
    border-radius: 10px;
}

.article-beneficios h4 {
    color: var(--verde-principal);
    font-size: var(--subtitle-medium);
    font-weight: var(--semi-bold);
    margin-bottom: 30px;
}

.article-beneficios p {
    font-size: var(--body-medium);
}

.article-beneficios div:nth-child(2) {
    width: 600px;
}

@media (max-width:1600px) {
    .article-beneficios {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:1000px) {
    .article-beneficios img {
        width: 300px;
        height: 150px;
    }

    .article-beneficios h4 {
        font-size: var(--subtitle-small);
        margin-top: 10px;
    }

    .article-beneficios p {
        font-size: var(--body-small);
    }

    .article-beneficios div:nth-child(2) {
        text-align: center;
        width: 300px;
    }
}
