.article-beneficios {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}

.article-beneficios div:nth-child(1) {
    width: 40%;
    
}

.article-beneficios img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 10px;
}

.article-beneficios h4 {
    color: var(--verde-principal);
    font-size: var(--subtitle-medium);
    font-weight: var(--semi-bold);
    margin-bottom: 30px;
}

.article-beneficios p {
    font-size: var(--body-medium);
}

.article-beneficios div:nth-child(2) {
    width: 40%;
}

