.card-home-servicos div {
    width: 475px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}

.card-home-servicos div:hover {
    width: 485px;
    height: 310px;
    transition: 0.2s;
}

.card-home-servicos:hover {
    cursor: pointer;
}



.first-service-card {
    background: url(../../images/card-home-1.png) no-repeat;
}

.second-service-card {
    background: url(../../images/card-home-2.png) no-repeat;
}

.third-service-card {
    background: url(../../images/card-home-3.png) no-repeat;
}

.card-home-servicos h2 {
    font-size: var(--body-large);
    width: 60%;
    text-align: center;
    color: white;
    font-weight: var(--regular);
    margin-bottom: 20px;
}

.card-home-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-home-servicos h3 {
    font-size: var(--subtitle-medium);
    margin-top: 20px;
    text-transform: uppercase;
}

.card-home-servicos span {
    color: var(--verde-principal);
}