.card-home-servicos {
    text-align: center;
    width: 380px;
    transition: .5s;
}


.card-home-servicos div {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
} 

.card-home-servicos div:hover {
    cursor: pointer;
    width: 390px;
    height: 240px;
    transition: .25s ease-out;
}



.first-service-card {
    background: url(../../images/card-home-1.png) no-repeat;
    background-size: cover;
}

.first-service-card span {
    color: var(--cta-roxo) !important;
}

.second-service-card {
    background: url(../../images/card-home-2.png) no-repeat;
    background-size: cover;
}

.third-service-card {
    background: url(../../images/card-home-3.png) no-repeat;
    background-size: cover;
}

.card-home-servicos h2 {
    font-size: var(--body-medium);
    width: 90%;
    text-align: center;
    color: white;
    font-weight: var(--regular-bold);
    margin-bottom: 20px;
}

.card-home-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-home-servicos h3 {
    font-size: var(--body-medium);
    margin-top: 20px;
    text-transform: uppercase;
}

.card-home-servicos span {
    color: var(--verde-principal);
}